/* Grid Packs Digitales */

.contenedor-tarjetapack {
    @include contenedor-tarjetas-bys(100%, auto, 20px, flex, wrap, space-evenly, url(../imagenes/back-rojo.png), repeat, $bg-bordo)
}

.tarjetapack {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 300px auto 70px;
    grid-template-areas: "image" "text" "pie";
    background-image: url(../imagenes/background.jpg);
    background-size: cover;
    border-radius: 18px;
    box-shadow: $sombra-caja;
    font-family: $fontype-sans-serif;
    text-align: center;
    text-shadow: $sombra-textos;
    transition: 0.5s ease;
    margin: 30px;
    &:hover {
        transform: scale(1.10);
        box-shadow: $sombra-caja-hover;
    }
}


/* tarjeta 1 */

.tarjetapack-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tarjetapack-text {
    grid-area: text;
    margin: 18px;
    align-content: center;
    .titulo {
        font-size: nth($font-size, 4);
        letter-spacing: -1px;
        margin: 0;
        color: map-get($digital-basic, color-basic);
    }
    .subtitulo {
        color: $text-grisclaro;
        font-size: nth($font-size, 6);
        margin: 0;
    }
    p {
        color: $text-bco;
        font-size: nth($font-size, 7);
    }
}

.tarjetapack-pie {
    grid-area: pie;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: map-get($digital-basic, bg-color-basic);
    align-items: center;
    justify-content: center;
    .icono {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 5px;
    }
    .consulte {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        color: $text-bco;
        font-size: nth($font-size, 8);
    }
}


/* tarjeta2 */

.tarjetapack-text.tarjetapack2 .titulo {
    color: map-get($digital-mega, color-mega);
}

.tarjetapack-pie.tarjetapack2 {
    background-color: map-get($digital-mega, bg-color-mega);
}


/* tarjeta3 */

.tarjetapack-text.tarjetapack3 .titulo {
    color: map-get($digital-ultra, color-ultra);
}

.tarjetapack-pie.tarjetapack3 {
    background-color: map-get($digital-ultra, color-ultra);
}