$bg-nav: #cac8e9;
$bg-nav1: #d1d0f0;
$bg-naranjacorp: #ff3b00;
$bg-azulcorp: #20228c;
$bg-claro: #f5f5f5;
$bg-black: black;
$bg-bordo: rgb(92, 0, 0);
$text-bco: #ffffff;
$text-naranja: #ff3b00;
$text-azul: #20228c;
$text-oscuro: #292929;
$text-gris: #555555;
$text-grisclaro: rgb(190, 190, 190);
$fontype-sans-serif: 'Manrope',
sans-serif;
$fontype-serif: 'Berkshire Swash',
cursive;
$gradient-naranzul: linear-gradient(#20228c, #ff3b00);
$sombra-caja: 5px 5px 15px rgba(0, 0, 0, 0.9);
$sombra-caja-hover: 5px 5px 15px rgba(0, 0, 0, 0.6);
$sombra-textos: 2px 2px 3px black;